html {font-size: 16px;}
body {
  background: #fff;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
#wrapper {
  flex: 1;
}
.main-content{min-height: 100vh;box-sizing: border-box;padding-top: 167px;margin-top: -167px; padding-bottom: 76px; margin-bottom: -76px; }
.container {margin: 0 auto;}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
a {text-decoration: none;}



.middle {
  display: flex;
  align-items: center;
}
.flex-right { display: flex;   justify-content: flex-end;}

.align-right {text-align: right;}

header {background: none;padding: 0;height: auto;margin-bottom: 1rem;}
header .menu {background: rgb(0,102,221	);height: 64px;}
header .nav {color: #999;}
header .logo img {width: 180px;display: inline-block;font-size: 0;}
.menu a.button, .menu button, .menu [role="button"] {
  background: transparent;
  border-radius: 0;
  margin: 0;
  height: 64px;
  line-height: 64px;
  padding: 0;
  box-sizing: border-box;
  min-width: 7em;
  text-align: center;
}
.menu a.button.active, .menu a.button:hover{
  background: rgb(0,79,171);
  color: #fff;
}
footer {text-align: center;}
footer a {color: #fff;}
table {width: 100%;border: none;}
table tr {padding: 0;}
table td {
  background: none;
  border: none;
  padding: 0;
}


.main-content .tabs .tab-content {height: auto;}
div[class$="-box"]{ border-radius: 2px; margin-bottom: 8px; min-height: 14px; padding: 14px 3%; color: white; }
.blue-box { background: #0277bd; }
.green-box { background: #0bbd4f; }
.red-box { background: #e71b4e; }
.yellow-box { background: #facc33; }

 .page-enjoy {}
.page-enjoy .apple img, .page-enjoy .android img {
  width: 100px; 
} 
.paginator {text-align: center;}

.income-page {}
.income-page .board h2 {color: #fff;}

form {margin: 0;}

.index-page form {height: 316px;box-sizing: border-box;}
.index-page .tabs {margin-top: 1em;}
.tabs>label {height: initial;}
.tabs {white-space: normal;}
.index-page .tabs time {text-align: right;display: block;font-size: 12px;color: rgb(0,102,221	);}
.index-page .tabs>:checked+label+div {height: initial;}

@media screen and (min-width: 1000px) {
  .container {width: 960px;}
}

@media screen and (min-width: 766px) {
  .drawer {display: none;}
}