html {font-size: 16px;}
body {
  background: #fff;
  display: flex;
  min-height: 100vh;
  margin: 0;
  flex-direction: column;
  font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}
#wrapper {
  flex: 1;
}
[v-cloak] { display: none; }

.main-content{min-height: 100vh;box-sizing: border-box;padding-top: 153px;margin-top: -153px; padding-bottom: 100px; margin-bottom: -48px; }
.container {margin: 0 auto;}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
a {text-decoration: none;}

.bg_blue {background: #209cee;}
.bg_red {background: #ff3860;}
.bg_yellow {background: #ffdd57;}
.bg_green {background: #23d160;}
.middle {
  display: flex;
  align-items: center;
}
.flex-right { display: flex;   justify-content: flex-end;}

.align-right {text-align: right;}

.mb-1 {margin-bottom: 1rem;}
.mb-2 {margin-bottom: 2rem;}
.mb-3 {margin-bottom: 3rem;}
.mb-4 {margin-bottom: 4rem;}

header {background: none;padding: 0;height: auto;margin-bottom: 1rem;}
.navbar {background: rgb(0, 119, 255);}
header .logo img {width: 180px;display: inline-block;font-size: 0;}
.navbar a { background: transparent; border-radius: 0; margin: 0;color: #fff; height: 52px; line-height: 52px; padding: 0; box-sizing: border-box; width: 180px; justify-content: center;text-align: center;background: rgb(0, 119, 255);}
.navbar a.active, .navbar a:hover{ background: rgb(0, 108, 216); color: #fff; }
.footer {text-align: center;padding: 0.75rem 0.5rem;background: #000;}
.footer a, footer a:hover {color: #fff;}
table {width: 100%;border: none;}
table tr {padding: 0;}
table td {
  background: none;
  border: none;
  padding: 0;
}


.main-content .tabs .tab-content {height: auto;}
div[class$="-box"]{ border-radius: 2px; margin-bottom: 8px; min-height: 14px; padding: 14px 3%; color: white; }
.blue-box { background: #0277bd; }
.green-box { background: #0bbd4f; }
.red-box { background: #e71b4e; }
.yellow-box { background: #facc33; }

.page-enjoy {color: #fff;}
.page-enjoy:before {content: '';width: 100%;height:100%;position: absolute;z-index: -1;top:0; left:0; background: url(/public/img/enjoy_bg.jpg) no-repeat 0 0/cover; opacity: 1;}
.page-enjoy a {color: #fff;}
.page-enjoy .columns {text-align: center; font-size: 10px;}
.page-enjoy .columns h3 {margin: .5em 0;}
.page-enjoy h1.game-logo {margin: 15vh auto 2em; font-size: 26px; }
.page-enjoy h1.game-logo img {margin-bottom: .2em;border-radius: 15%;width: 35%;}
.page-enjoy svg {fill: white;width: 40px;}
.page-enjoy .android svg {fill: rgb(36, 226, 106);width: 40px;}


.pagination-list {justify-content: center;}

.income-page {}
.income-page .board h2 {color: #fff;}
.income-page .banner {margin-top: -1rem;}
.income-page td, .income-page th {text-align: center;}

.page-choose {}
.page-choose td {vertical-align: middle;}
.page-choose td img {width: 100px;}

.page-promote {}
.page-promote td {vertical-align: middle;}
.page-promote td .button {margin: 5px 0;}
.page-promote td input[type=text] {border: none;width: 100%;}

.page-contact {}
.page-contact .panel-block {padding: 2em;}
.page-contact .panel-block .column {padding: 2em;}
.page-contact .panel-block i.fa {color: #fff;border-radius: 50%;margin-bottom: .5em;width: 80px;height: 80px;box-sizing: content-box;}
.page-contact .panel-block.advantages i.fa {padding: 0.4em;}

.page-index {}
.page-index .panel-block time {text-align: right;display: block;font-size: 12px;color: rgb(0, 119, 255	);}
.page-index .slide img {width: 100%;}

.width-160 {width: 160px;}
.width-200 {width: 200px;}
.breadcrumb li + li::before { content: " "; }
@media screen and (min-width: 1000px) {

}

@media screen and (min-width: 766px) {
  .drawer {display: none;}
}