html {font-size: 16px;}
body {
  background: #fff;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
#wrapper {
  flex: 1;
}
.main-content{min-height: 100vh;box-sizing: border-box;padding-top: 153px;margin-top: -153px; padding-bottom: 100px; margin-bottom: -48px; }
.container {margin: 0 auto;}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
a {text-decoration: none;}


.middle {
  display: flex;
  align-items: center;
}
.flex-right { display: flex;   justify-content: flex-end;}

.align-right {text-align: right;}

header {background: none;padding: 0;height: auto;margin-bottom: 1rem;}
.navbar {background: rgb(0,102,221);}
header .logo img {width: 180px;display: inline-block;font-size: 0;}
.navbar a { background: transparent; border-radius: 0; margin: 0;color: #fff; height: 52px; line-height: 52px; padding: 0; box-sizing: border-box; width: 140px; justify-content: center; }
.navbar a.active, .navbar a:hover{ background: rgb(0,79,171); color: #fff; }
.footer {text-align: center;padding: 0.75rem 0.5rem;background: #000;}
.footer a, footer a:hover {color: #fff;}
table {width: 100%;border: none;}
table tr {padding: 0;}
table td {
  background: none;
  border: none;
  padding: 0;
}


.main-content .tabs .tab-content {height: auto;}
div[class$="-box"]{ border-radius: 2px; margin-bottom: 8px; min-height: 14px; padding: 14px 3%; color: white; }
.blue-box { background: #0277bd; }
.green-box { background: #0bbd4f; }
.red-box { background: #e71b4e; }
.yellow-box { background: #facc33; }

.page-enjoy {}
.page-enjoy .apple img, .page-enjoy .android img {
  width: 100px; 
}
.pagination-list {justify-content: center;}

.income-page {}
.income-page .board h2 {color: #fff;}
.income-page .banner {margin-top: -1rem;}
.income-page td, .income-page th {text-align: center;}

.page-choose {}
.page-choose td {vertical-align: middle;}
.page-choose td img {width: 100px;}

.page-promote {}
.page-promote td {vertical-align: middle;}
.page-promote td .button {margin: 5px 0;}
.page-promote td input[type=text] {border: none;width: 100%;}

.index-page .panel-block time {text-align: right;display: block;font-size: 12px;color: rgb(0,102,221	);}


.width-160 {width: 160px;}
.width-200 {width: 200px;}
.breadcrumb li + li::before { content: " "; }
@media screen and (min-width: 1000px) {

}

@media screen and (min-width: 766px) {
  .drawer {display: none;}
}